name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - if: ${{ runner.os == 'Linux' }}
        run: sudo apt-get update && sudo apt-get install liblapack3
      - if: ${{ runner.os == 'macOS' }}
        run: brew install libomp
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - uses: actions/cache@v5
        with:
          path: ~/.cache/cmfrec
          key: cmfrec
      - run: bundle exec rake vendor:platform
      - run: bundle exec rake test

      - if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get update && sudo apt-get install valgrind
          bundle exec rake test:valgrind
